body{
	margin: 0;

}
.topbar{
	background-color: #f2f2f2;
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#banner{
	background:linear-gradient(rgba(6,133,166,0.5),rgba(6,133,150,0.6),rgba(6,190,255,0.7)), url(cos2.jpg);
	display: flex;
	justify-content: center;
	height: 550px;
	background-size: cover;
	background-repeat: no-repeat;
	flex-direction: column;
	text-align: center;
}
.Gbanner{
	background:linear-gradient(rgba(6,133,166,0.5),rgba(6,133,150,0.6),rgba(6,190,255,0.7)), url(cos2.jpg);
	height: 170px;
	background-repeat: no-repeat;
	display: flex;
	background-size: cover;
	color: white;
	align-items: center;
}
.regbanner{
      	background:linear-gradient(rgba(6,133,166,0.5),rgba(6,133,150,0.6),rgba(6,190,255,0.7)), url(cos2.jpg);
	height: 170px;
	background-repeat: no-repeat;
	display: flex;
	background-size: cover;
	color: white;
	align-items: center;
}
#abanner{
	background:linear-gradient(rgba(6,133,166,0.5),rgba(6,133,150,0.6),rgba(6,190,255,0.7)), url(cos2.jpg);
	height: 170px;
	background-repeat: no-repeat;
	display: flex;
	background-size: cover;
	color: white;
	align-items: center;
}
.lbanner{
	background:linear-gradient(rgba(6,133,166,0.5),rgba(6,133,150,0.6),rgba(6,190,255,0.7)), url(cos2.jpg);
	height: 170px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
}
.Apply{
	font-size: 50px;
	letter-spacing: 3px;
	color: white;
	font-family: 'Oswald',sans-serif;
}
.Start{
	font-size: 25px;
	letter-spacing: 2px;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-family: 'Montserrat',sans-serif;
}
#application{
	display: flex;
	justify-content: space-between;
	height: 500px;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: -150px;

}
.l1{
       background:linear-gradient(rgba(11,3,47,0.89),rgba(11,3,47,0.89)), url(cos2.jpg); 
	display: flex;
	justify-content: center;
	height: 550px;
	background-size: cover;
	background-repeat: no-repeat;
	flex-direction: column;
	text-align: center;
	margin-top: 10px;
}
.big{
    background:linear-gradient(rgba(115,67,58,0.89),rgba(105,67,58,0.89)), url(cos2.jpg);
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex: 1;
    margin-right: 10px;

}
.S1{
	font-size: 20px;
	letter-spacing: 3px;
	text-align: center;
	color: white;
}
.B1{
	font-size: 18px;
	letter-spacing: 2px;
	text-align: center;
	color: white;
}
.V1{
	font-size: 20px;
	text-align: center;
	color: white;
	border-radius: 5px;
	margin-right: 70px;
	margin-left: 70px;
}
.medium{
	background:linear-gradient(rgba(49,67,58,0.89),rgba(49,67,58,0.89)), url(cos2.jpg);
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex: 1;
	margin-right: 10px;

}
.S2{
	font-size: 20px;
	letter-spacing: 2px;
	text-align: center;
	color: white;
}
.B2{
	font-size: 20px;
	text-align: center;
	color: white;
}
.V2{
	font-size: 20px;
	text-align: center;
	color: white;
	border-radius: 5px;
	margin-left: 70px;
	margin-right: 70px;
}
.small{
	background:linear-gradient(rgba(11,3,47,0.89),rgba(11,3,47,0.89)), url(cos2.jpg); 
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex: 1;
	margin-right: 10px;
}
.S3{
	font-size: 20px;
	text-align: center;
	letter-spacing: 2px;
	color: white;
}
.B3{
	font-size: 20px;
	text-align: center;
	color: white;
}
.V3{
	font-size: 20px;
	text-align: center;
	color: white;
	border-radius: 5px;
	margin-left: 70px;
	margin-right: 70px;
}
.space{
	background-color: darkgray;

}
#Mini{
    background:linear-gradient(rgba(11,3,47,0.89),rgba(11,3,47,0.89)), url(cos2.jpg); 
	flex: 1;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
    margin-top: -500px;	
    margin-left: 300px;
    margin-right: 300px;
}

a{
         text-decoration: none;
         font-weight: bold;
         padding: 8px;
      }
 a:hover{
         background-color: darkgray;
         border-radius: 7px;
      }
      }
		a.V1:hover{
			border-radius: 7px;
			background: gray;
		}
		a.V2:hover{
			border-radius: 7px;
		    background: gray;
		}
		a.V3:hover{
			background: gray;
			border-radius: 7px;
		}
      footer{
      	background-color: darkgray;
      	display: flex;
      	justify-content: space-between;
      	align-items: center;
      	height: 120px;
      }
      .nb{
      	background-color: darkgray;
      	margin-top: 5px;
      }
      label{
      	font-size: 15px;
      	color: white;

      }